In [1]:
# installing mlextend package for this association rule mining 
!pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\anand\anaconda3\lib\site-packages (0.23.3)
Requirement already satisfied: scipy>=1.2.1 in c:\users\anand\anaconda3\lib\site-packages (from mlxtend) (1.13.1)
Requirement already satisfied: numpy>=1.16.2 in c:\users\anand\anaconda3\lib\site-packages (from mlxtend) (1.26.4)
Requirement already satisfied: pandas>=0.24.2 in c:\users\anand\anaconda3\lib\site-packages (from mlxtend) (2.2.2)
Requirement already satisfied: scikit-learn>=1.3.1 in c:\users\anand\anaconda3\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\anand\anaconda3\lib\site-packages (from mlxtend) (3.8.4)
Requirement already satisfied: joblib>=0.13.2 in c:\users\anand\anaconda3\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\anand\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\anand\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\anand\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\anand\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\anand\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\anand\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\anand\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\anand\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\anand\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\anand\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\anand\anaconda3\lib\site-packages (from scikit-learn>=1.3.1->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\users\anand\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)

In [21]:
# importing necessary liberaries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings as wr
wr.filterwarnings('ignore')

# from mlxted liberay importing modules and fuctions
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns  import apriori, association_rules

In [35]:
df = pd.read_csv('https://raw.githubusercontent.com/aishwaryamate/Datasets/refs/heads/main/Supermarket.csv')
df

    ID               Products
0    1       Milk,Bread,sauce
1    2  Milk,Tea powder,Bread
2    3       Bread,Jam,Butter
3    4           Bread,Butter
4    5           Maggie,Sauce
5    6    Maggie,Cheese,Sauce
6    7    Maggie,Cheese,Sauce
7    8    Peanut butter,Bread
8    9      Coffee,Sugar,Milk
9   10            Coffee,Milk
10  11    Maggie,Cheese,Sauce
11  12       Bread,Jam,Butter
12  13          Butter,Cheese
13  14    Maggie,Cheese,Sauce
14  15           Maggie,Bread
15  16        Bread,Torch,Jam
16  17       Bread,Jam,Butter
17  18       Jam,Butter,Torch
18  19       Bread,Jam,Butter
19  20  CornFlakes,Milk,Bread

# DATA TRANSFORMATION

In [36]:
# converting each transaction into multiple values of products contained by that perticular transaction

data = [i.split(',') for i in df['Products']]
data

[['Milk', 'Bread', 'sauce'],
 ['Milk', 'Tea powder', 'Bread'],
 ['Bread', 'Jam', 'Butter'],
 ['Bread', 'Butter'],
 ['Maggie', 'Sauce'],
 ['Maggie', 'Cheese', 'Sauce'],
 ['Maggie', 'Cheese', 'Sauce'],
 ['Peanut butter', 'Bread'],
 ['Coffee', 'Sugar', 'Milk'],
 ['Coffee', 'Milk'],
 ['Maggie', 'Cheese', 'Sauce'],
 ['Bread', 'Jam', 'Butter'],
 ['Butter', 'Cheese'],
 ['Maggie', 'Cheese', 'Sauce'],
 ['Maggie', 'Bread'],
 ['Bread', 'Torch', 'Jam'],
 ['Bread', 'Jam', 'Butter'],
 ['Jam', 'Butter', 'Torch'],
 ['Bread', 'Jam', 'Butter'],
 ['CornFlakes', 'Milk', 'Bread']]

In [30]:
# Encoding text values of each products for further use

te = TransactionEncoder()
encoded_df = te.fit_transform(data)
encoded_df

array([[ True, False, False, False, False, False, False,  True, False,
        False, False, False, False,  True],
       [ True, False, False, False, False, False, False,  True, False,
        False, False,  True, False, False],
       [ True,  True, False, False, False,  True, False, False, False,
        False, False, False, False, False],
       [ True,  True, False, False, False, False, False, False, False,
        False, False, False, False, False],
       [False, False, False, False, False, False,  True, False, False,
         True, False, False, False, False],
       [False, False,  True, False, False, False,  True, False, False,
         True, False, False, False, False],
       [False, False,  True, False, False, False,  True, False, False,
         True, False, False, False, False],
       [ True, False, False, False, False, False, False, False,  True,
        False, False, False, False, False],
       [False, False, False,  True, False, False, False,  True, False,
        False,  True, False, False, False],
       [False, False, False,  True, False, False, False,  True, False,
        False, False, False, False, False],
       [False, False,  True, False, False, False,  True, False, False,
         True, False, False, False, False],
       [ True,  True, False, False, False,  True, False, False, False,
        False, False, False, False, False],
       [False,  True,  True, False, False, False, False, False, False,
        False, False, False, False, False],
       [False, False,  True, False, False, False,  True, False, False,
         True, False, False, False, False],
       [ True, False, False, False, False, False,  True, False, False,
        False, False, False, False, False],
       [ True, False, False, False, False,  True, False, False, False,
        False, False, False,  True, False],
       [ True,  True, False, False, False,  True, False, False, False,
        False, False, False, False, False],
       [False,  True, False, False, False,  True, False, False, False,
        False, False, False,  True, False],
       [ True,  True, False, False, False,  True, False, False, False,
        False, False, False, False, False],
       [ True, False, False, False,  True, False, False,  True, False,
        False, False, False, False, False]])

In [31]:
# unique products exctrated by TransactionEncoder class

te.columns_

['Bread',
 'Butter',
 'Cheese',
 'Coffee',
 'CornFlakes',
 'Jam',
 'Maggie',
 'Milk',
 'Peanut butter',
 'Sauce',
 'Sugar',
 'Tea powder',
 'Torch',
 'sauce']

In [38]:
data_df = pd.DataFrame(encoded_df, index=df['ID'], columns=te.columns_)
data_df

,Bread,Butter,Cheese,Coffee,CornFlakes,Jam,Maggie,Milk,Peanut butter,Sauce,Sugar,Tea powder,Torch,sauce
ID,,,,,,,,,,,,,,
1,True,False,False,False,False,False,False,True,False,False,False,False,False,True
2,True,False,False,False,False,False,False,True,False,False,False,True,False,False
3,True,True,False,False,False,True,False,False,False,False,False,False,False,False
4,True,True,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,True,False,False,True,False,False,False,False
6,False,False,True,False,False,False,True,False,False,True,False,False,False,False
7,False,False,True,False,False,False,True,False,False,True,False,False,False,False
8,True,False,False,False,False,False,False,False,True,False,False,False,False,False
9,False,False,False,True,False,False,False,True,False,False,True,False,False,False
10,False,False,False,True,False,False,False,True,False,False,False,False,False,False
11,False,False,True,False,False,False,True,False,False,True,False,False,False,False
12,True,True,False,False,False,True,False,False,False,False,False,False,False,False
13,False,True,True,False,False,False,False,False,False,False,False,False,False,False
14,False,False,True,False,False,False,True,False,False,True,False,False,False,False
15,True,False,False,False,False,False,True,False,False,False,False,False,False,False
16,True,False,False,False,False,True,False,False,False,False,False,False,True,False
17,True,True,False,False,False,True,False,False,False,False,False,False,False,False
18,False,True,False,False,False,True,False,False,False,False,False,False,True,False
19,True,True,False,False,False,True,False,False,False,False,False,False,False,False
20,True,False,False,False,True,False,False,True,False,False,False,False,False,False

In [ ]:
# TO understand the data I am converting it into dataframe

In [39]:
data_df.replace([True, False], [1, 0], inplace=True)
data_df

,Bread,Butter,Cheese,Coffee,CornFlakes,Jam,Maggie,Milk,Peanut butter,Sauce,Sugar,Tea powder,Torch,sauce
ID,,,,,,,,,,,,,,
1,1,0,0,0,0,0,0,1,0,0,0,0,0,1
2,1,0,0,0,0,0,0,1,0,0,0,1,0,0
3,1,1,0,0,0,1,0,0,0,0,0,0,0,0
4,1,1,0,0,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,1,0,0,1,0,0,0,0
6,0,0,1,0,0,0,1,0,0,1,0,0,0,0
7,0,0,1,0,0,0,1,0,0,1,0,0,0,0
8,1,0,0,0,0,0,0,0,1,0,0,0,0,0
9,0,0,0,1,0,0,0,1,0,0,1,0,0,0
10,0,0,0,1,0,0,0,1,0,0,0,0,0,0
11,0,0,1,0,0,0,1,0,0,1,0,0,0,0
12,1,1,0,0,0,1,0,0,0,0,0,0,0,0
13,0,1,1,0,0,0,0,0,0,0,0,0,0,0
14,0,0,1,0,0,0,1,0,0,1,0,0,0,0
15,1,0,0,0,0,0,1,0,0,0,0,0,0,0
16,1,0,0,0,0,1,0,0,0,0,0,0,1,0
17,1,1,0,0,0,1,0,0,0,0,0,0,0,0
18,0,1,0,0,0,1,0,0,0,0,0,0,1,0
19,1,1,0,0,0,1,0,0,0,0,0,0,0,0
20,1,0,0,0,1,0,0,1,0,0,0,0,0,0

# MODEL BUILDING

In [ ]:
# using apriori algorithm

In [42]:
scores = apriori(data_df, min_support=0.2, use_colnames=True)
scores

    support                 itemsets
0      0.55                  (Bread)
1      0.35                 (Butter)
2      0.25                 (Cheese)
3      0.30                    (Jam)
4      0.30                 (Maggie)
5      0.25                   (Milk)
6      0.25                  (Sauce)
7      0.25          (Butter, Bread)
8      0.25             (Jam, Bread)
9      0.25            (Butter, Jam)
10     0.20         (Cheese, Maggie)
11     0.20          (Cheese, Sauce)
12     0.25          (Sauce, Maggie)
13     0.20     (Butter, Jam, Bread)
14     0.20  (Cheese, Sauce, Maggie)

In [ ]:
# algorithm has calculated one-item set list, two-item set list as well as three item set list along with their support value
# and it has selected only those rules that are having support more than or equal to (>=) min_support value (0.2)

In [45]:
# calculate all the matrics(support, confidence, lift ratio)
association_rules(scores, num_itemsets=2)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(Jam),(Bread),0.30,0.55,0.25,0.833333,1.515152,1.0,0.0850,2.70,0.485714,0.416667,0.629630,0.643939
1,(Jam),(Butter),0.30,0.35,0.25,0.833333,2.380952,1.0,0.1450,3.90,0.828571,0.625000,0.743590,0.773810
2,(Cheese),(Maggie),0.25,0.30,0.20,0.800000,2.666667,1.0,0.1250,3.50,0.833333,0.571429,0.714286,0.733333
3,(Cheese),(Sauce),0.25,0.25,0.20,0.800000,3.200000,1.0,0.1375,3.75,0.916667,0.666667,0.733333,0.800000
4,(Sauce),(Cheese),0.25,0.25,0.20,0.800000,3.200000,1.0,0.1375,3.75,0.916667,0.666667,0.733333,0.800000
5,(Sauce),(Maggie),0.25,0.30,0.25,1.000000,3.333333,1.0,0.1750,inf,0.933333,0.833333,1.000000,0.916667
6,(Maggie),(Sauce),0.30,0.25,0.25,0.833333,3.333333,1.0,0.1750,4.50,1.000000,0.833333,0.777778,0.916667
7,"(Butter, Jam)",(Bread),0.25,0.55,0.20,0.800000,1.454545,1.0,0.0625,2.25,0.416667,0.333333,0.555556,0.581818
8,"(Butter, Bread)",(Jam),0.25,0.30,0.20,0.800000,2.666667,1.0,0.1250,3.50,0.833333,0.571429,0.714286,0.733333
9,"(Jam, Bread)",(Butter),0.25,0.35,0.20,0.800000,2.285714,1.0,0.1125,3.25,0.750000,0.500000,0.692308,0.685714
10,"(Cheese, Sauce)",(Maggie),0.20,0.30,0.20,1.000000,3.333333,1.0,0.1400,inf,0.875000,0.666667,1.000000,0.833333
11,"(Cheese, Maggie)",(Sauce),0.20,0.25,0.20,1.000000,4.000000,1.0,0.1500,inf,0.937500,0.800000,1.000000,0.900000
12,"(Sauce, Maggie)",(Cheese),0.25,0.25,0.20,0.800000,3.200000,1.0,0.1375,3.75,0.916667,0.666667,0.733333,0.800000
13,(Cheese),"(Sauce, Maggie)",0.25,0.25,0.20,0.800000,3.200000,1.0,0.1375,3.75,0.916667,0.666667,0.733333,0.800000
14,(Sauce),"(Cheese, Maggie)",0.25,0.20,0.20,0.800000,4.000000,1.0,0.1500,4.00,1.000000,0.800000,0.750000,0.900000